@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Teste.NET</h1>
    <p class="lead">IT Singular test .NET application by Alessandro Riobóo Rey.</p>
</div>

<div class="row">
    @if (!@User.IsInRole("Administrators"))
    {
        <div class="col-md-12 alert-danger">
            <h2>Restricted user.</h2>
            <p>
                Your user is not authorized to use all the features of this application.
            </p>
        </div>    
    }
</div>